<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="         
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd  
http://www.springframework.org/schema/context         http://www.springframework.org/schema/context/spring-context-4.0.xsd   
 http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
    <!-- Configures the @Controller programming model -->
   
    <security:global-method-security jsr250-annotations="enabled" secured-annotations="enabled" />
    <mvc:annotation-driven validator="validator" />
     <import resource="controllers.xml" />
      
    
    <mvc:resources mapping="/resources/**" location="/resources/" />
   
    <bean id="validator"
              class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>
    
    
    <bean
        class="org.springframework.web.servlet.view.UrlBasedViewResolver" id="tilesViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
        <property name="order" value="1"/>
    </bean>
    
    <bean
        class="org.springframework.web.servlet.view.tiles3.TilesConfigurer" id="tilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/tiles/tiles-defs.xml</value>
               
                <value>/WEB-INF/tiles/tiles-defs.xml</value>
                <value>/WEB-INF/tiles/tiles-defs-jquery.xml</value>
                <value>/WEB-INF/tiles/tiles-defs-bootstrap.xml</value>
                <value>/WEB-INF/tiles/tiles-defs-backbone.xml</value>
                <value>/WEB-INF/tiles/tiles-defs-angular.xml</value>
                <value>/WEB-INF/tiles/tiles-defs-d3.xml</value>
                <value>/WEB-INF/tiles/tiles-defs-database.xml</value>
            </list>
        </property>
    </bean>
    
    
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="2"/>
        <!-- must be the last -->
    </bean>
    
</beans>
